@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: 0;
  font-weight: $fw-700;
  padding: 1.125em 2em;
  transition: 275ms ease;

  &[data-type="accent"] {
    background-color: clr(primary, 400);
    color: clr(neutral, 900);
  }

  &[data-type="outline"] {
    --outline-size: 5px;

    background: transparent;
    outline: var(--outline-size) solid clr(neutral, 100);
    outline-offset: calc(var(--outline-size) * -1);
    color: clr(neutral, 100);
  }

  &:is(:hover, :focus) {
    background: clr(neutral, 100);
    color: clr(neutral, 900);
  }
}
